<layout name="layout" />
<script>
//删除


function del(id){
		$("#del"+id+" td").css('border-top','1px solid #FF0000');
		$("#del"+id+" td").css('border-bottom','1px solid #FF0000');
	parent.layer.confirm('请确认该组下已经没有组成员了，否则需要重新授权，真的要删除吗？', {
		btn: ['确认','取消'], //按钮
		shade: [0.4, '#393D49'] //显示遮罩
	}, function(){
		$.post("{:U('Admin/group_del')}", { "id": id},function(data){
			if(data == 1){
				parent.layer.msg('删除成功', { icon: 1, time: 1000 }, function(){
						$("#del"+id).remove();
					});
			}else{
				parent.layer.msg('删除失败', {icon: 2, time: 2000 }); 
			}
		}, "json");
	},function(){
		$("#del"+id+" td").css('border-top','0');
		$("#del"+id+" td").css('border-bottom','1px solid #EFEFEF');
	});
}
</script>

<body>
<div class="nav">
	<div class="nav_title">
    	<h2><img class="nav_img" src="__PUBLIC__/Admin/img/tab.gif" /><a class="nav_a" href="#">添加用户组</a></h2>
    </div>
    <div class="nav_button">
    	<a href="{:U('Admin/group_add')}"><button class="button">+ 添加用户组</button></a>
    </div>
</div>
<div class="list">
	  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="list_table">
      <thead>
	    <tr>
	      <td width="10%"><div align="center">ID</div></td>
	      <td width="19%"><div align="center">角色/组</div></td>
	      <td width="18%"><div align="center">状态</div></td>
	      <td width="29%"><div align="center">创建时间</div></td>
	      <td width="24%"><div align="center">操作</div></td>
        </tr>
        </thead>
        <tbody>
        <foreach name="data" item="vo">
	    <tr id="del{$vo.id}">
	      <td height="50"><div align="center">{$vo.id}</div></td>
	      <td><div align="center">{$vo.title}</div></td>
	      <td><div align="center">启用</div></td>
	      <td><div align="center">{$vo.create_time|date="Y-m-d H:i:s",###}</div></td>
	      <td><div align="center"><a class="a_button" name="edit" href="{:U('Admin/group_edit',array('id'=>$vo[id]))}">授权 / 编辑</a><a class="a_button" href="javascript:;" name="del" onclick="del({$vo.id});">删除</a></div></td>
	      </tr>
        </foreach>
        </tbody>
  </table>
</div>

<!-- 分页 -->
<div class="page">
{$page}
</div>


</body>
</html>
