<layout name="layout" />
<script>
$(function(){
	$('input[type="checkbox"]').prop('checked', true);  //默认全选权限
	$("#all_checkbox").click(function(){
		var all = $('#all').val();
		if(all == 1){	
			$('#all').attr('value', 0);	
			//此处使用attr第二次设置的时候会除问题，解决办法使用prop函数，jquery版本必须要1.6.1以上
			$('input[type="checkbox"]').prop('checked', false);
		}else{
			$('#all').attr('value', 1);
			$('input[type="checkbox"]').prop('checked', true);
		}
	});
});
</script>
<script>
function checkbox(id){
	var box = $('#box'+id).val();
	if(box == 1){
		$('#box'+id).attr('value', 0);	
		//此处使用attr第二次设置的时候会除问题，解决办法使用prop函数，jquery版本必须要1.6.1以上
		$('.checkbox'+id).prop('checked', true);
	}else{
		$('#box'+id).attr('value', 1);
		$('.checkbox'+id).prop('checked', false);
	}
}
</script>
<script>
function check_form(){
	var title = $('#title').val();
	if(title == ''){
		layer.tips('请输入组名称', '#title', {time: 10000});
		return false;
	}
	return true;
}
</script>

<body>
<div class="nav">
	<div class="nav_title">
    	<h2><img class="nav_img" src="__PUBLIC__/Admin/img/tab.gif"><a class="nav_a" href="#">添加用户组</a></h2>
    </div>
    <div class="nav_button">
    	<a href="javascript:history.go(-1);"><button class="button">返回上一层</button></a>
    </div>
</div>
<form name="myform" action="__SELF__" method="post" onsubmit="return check_form();">
<div class="list">
	  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="details">
        <tbody>
	      <tr>
	      	<td width="20%"><div align="right">组名称：</div></td>
	      	<td width="80%"><input type="text" name="title" id="title" size="24" value="" style="margin-left:10px;width:195px;" />
            * 栏目或操作的中文名称
            </td>
	      </tr>
          <tr>
	      	<td><div align="right">分配的权限：</div></td>
	      	<td>
            	<input type="hidden" id="all" value="1"/>
            	<input type="button" value="全选 / 取消" class="btn" id="all_checkbox" style="width:200px;">
                * 给组分配的权限
            </td>
	      </tr>
  <tr>
    <td>&nbsp;</td>
    <td>
        <ul class="first_checkbox" style=" margin-left:10px;">
            <foreach name="data" item="vo">
                <li><input type="hidden" id="box{$vo.id}" value="0" />
                    <input type="checkbox" name="rules[]" class="checkbox{$vo.id}" id="{$vo.id}" onclick="checkbox({$vo.id})" value="{$vo.id}" />
                    <label for="{$vo.id}">{$vo.title}</laber><br/>
                    <div class="two_checkbox">
                    ┠─&nbsp;&nbsp;<foreach name="vo['sub']" item="sub">
                         <input type="checkbox" name="rules[]" class="checkbox{$vo.id}" id="{$sub.id}" value="{$sub.id}" style="margin-left:20px;" />
                         <label for="{$sub.id}">{$sub.title}</laber></foreach>
                    </div>
                </li>
            </foreach>
        </ul>
    </td>
  </tr>
        </tbody>
  		</table>
</div>
<div class="footer">
	<button type="submit" class="button" style="min-width:180px;">确 认</button>
</div>
</form>
</body>
</html>
