<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>首页</title>
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body>
  	<div id="top">
  		<div class="container">
  			<div class="user">您好，<span>a893434!</span><img src="images/icon-1.png" alt="">  <a href="#">退出</a></div>
  			<div class="shop">购物车：<span>(1)</span>| 收藏夹：<span>(0)</span>| 账户余额：<span>(0)</span></div>
  			<div class="wx"><a href="#">手机客服</a></div>
  			<div class="ss"><a href="#">销售客服</a></div>
  			<div class="sj"><a href="#">4008 222 123</a></div>
  		</div>
  	</div>
	<div id="logo">
		<div class="container">
			<a href="#"><img src="images/logo.png" class="logo" alt=""></a>
			<img src="images/logo-r.png" class="logo-r" alt="">
			<p>精美炫酷的图片网上家园！</p>
		</div>
	</div>
	<div id="nav">
		<div class="container">
			<ul>
				<li><a href="#" class="active">首页</a></li>
				<li><a href="#">购买图片</a></li>
				<li><a href="#">出售图片</a></li>
				<li><a href="#">我的账户</a></li>
			</ul>
		</div>
	</div>
	<div class="main">
		<div class="container">
			<div class="about-side">
				<ul>
					<li class="li1"><a href="#">版权注册</a></li>
					<li class="li2"><a href="#">代理协议</a></li>
					<li class="li3"><a href="#">版权注册公示</a></li>
					<li class="li4"><a href="#">关于我们</a></li>
					<li class="li5"><a href="#">联系我们</a></li>
				</ul>
			</div>
			<div class="content-side">
				<p><b>腾讯QQ：</b>800025375 <a target="_blank" href="http://sighttp.qq.com/authd?IDKEY=8094c21cf1af8dcb1b4fa35715caed81202c1e70c424affd" ><img border="0" src="http://wpa.qq.com/imgd?IDKEY=8094c21cf1af8dcb1b4fa35715caed81202c1e70c424affd&pic=51" alt="点击这里给我发消息" title="点击这里给我发消息"></a> <span style="color:red">推荐</span> （ 在线时间：8:30--23:30 ）</p>
				<p><b>电子邮箱</b><span style="color:#646464;">(投诉、业务合作、版权申述)</span>：server@nipic.com</p>
				<p><b>地址：</b>浙江省杭州市余杭区恒生科技园</p>
				<p><b>站内信：</b>发站内信给管理员</p><br><br><br>
				<hr><br>
				<p style="font-size:14px;color:#888;">源码调试咨询、软件注册咨询请到 <span style="color:#f60">站长论坛</span>，另，本站无出售源码业务，请勿联系我们！网管较忙，闲聊勿扰！</p>
				<br>
				<p  style="font-size:14px;color:#888;"><b>注意：</b>本站已经发现有人冒用本站的名义在出售一些商业程序或者进行其他商业活动，除了以上我们提供的联系方式(如QQ、电话),以免上当！</p>
			</div>
		</div>
	</div>
	<div id="bottom">
		<div class="container">
			<div class="about">
				<div class="tit">关于我们</div>
				<i></i>
				<ul>
					<li><a href="#">版权注册</a></li>
					<li><a href="#">代理协议</a></li>
					<li><a href="#">版权注册公示</a></li>
					<li><a href="#">关于我们</a></li>
					<li><a href="#">联系我们</a></li>
				</ul>
			</div>
			<div class="about">
				<div class="tit">关于我们</div>
				<i></i>
				<ul>
					<li><a href="#">上传图片</a></li>
					<li><a href="#">质量标准</a></li>
					<li><a href="#">出售条款</a></li>
					<li><a href="#">常见问题</a></li>
				</ul>
			</div>
			<div class="about">
				<div class="tit">关于我们</div>
				<i></i>
				<ul>
					<li><a href="#">购图合同</a></li>
					<li><a href="#">常见问题</a></li>
				</ul>
			</div>
			<div class="sys">
				<div class="tit">扫一扫</div>
				<div class="ewm">
					<img src="images/aewm.jpg" alt="">
					<p>安卓客户端</p>
				</div>
				<div class="ewm">
					<img src="images/aewm.jpg" alt="">
					<p>苹果客户端</p>
				</div>
			</div>
			<div class="copyright">
				<p>Copyright © 2004-2015  深圳XXX网络科技有限公司版权所有<br>ICP证沪B2－20070020 沪ICP备07006315号 <img src="images/dd.png" alt=""></p>
			</div>
		</div>
	</div>
    <script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
  </body>
</html>