	<extend name="layout" />
	<block name="main">
	<div id="banner">
			<img src="__PUBLIC__/Home/Index/images/ad-1.jpg" class="ad-1" alt="">	
			<div class="container">
				<div class="search">
					<form action="">
						<label>美女</label>
						<input type="text" class="text" name="keyword">
						<div class="select">
							<select name="leibie" id="leibie">
								<option value="0">所有图片</option>
								<option value="1">美女</option>
							</select>
						</div>
						<input type="submit" class="btn">
					</form>
				</div>
			</div>
	</div>
	<div id="title-1">
		<div class="color1"></div>
		<div class="color2"></div>
		<div class="container">
			<span>中国风景</span>
			<a href="#" class="more"></a>
		</div>
	</div>
	<div id="index-pics">
		<div class="container">
			<ul>
				<li><a href="#"><img src="__PUBLIC__/Home/Index/images/pic-1.jpg" alt=""></a></li>
				<li><a href="#"><img src="__PUBLIC__/Home/Index/images/pic-2.jpg" alt=""></a></li>
				<li><a href="#"><img src="__PUBLIC__/Home/Index/images/pic-3.jpg" alt=""></a></li>
				<li><a href="#"><img src="__PUBLIC__/Home/Index/images/pic-1.jpg" alt=""></a></li>
				<li><a href="#"><img src="__PUBLIC__/Home/Index/images/pic-2.jpg" alt=""></a></li>
				<li><a href="#"><img src="__PUBLIC__/Home/Index/images/pic-3.jpg" alt=""></a></li>
			</ul>
		</div>
	</div>
	<div id="box-2">
		<div class="container">
			<div class="txt"><span class="num">1,898,764,531</span>张摄影作品在AMAZING发布</div>
			<div class="post-d"><a href="">发布你的作品</a></div>
		</div>
	</div>
	</block>
	