<div class="footER clearfix">
    <div class="fotCenter clearfix">
        <div class="leftr left">
            <h4>服务于支持</h4>
            <p style="padding-bottom:27px;">电话: 0755-82779668<br/>
                邮箱: wdlst2015@126.com<br/>
                地址: 深圳市福田区新沙街道新洲三街凯欣园4号楼1102
            </p>

        </div>
        <div class="leftr left" style="border:none;width:220px;margin-left:110px;">
            <h4>服务于支持</h4>
            <ul><li><a href="{:U('Other/synopsis',array('id'=>1))}">用户协议</a></li>
                <li><a href="{:U('Other/synopsis',array('id'=>2))}">服务合同</a></li>
                <li><a href="{:U('Other/synopsis',array('id'=>3))}">用户反馈</a></li>
                <li><a href="{:U('Other/synopsis',array('id'=>4))}">关于我们</a></li></ul>

        </div>

        <div class="leftr left" style="width:170px;border:none;">
            <h4>其他</h4>
            <ul><li><a href="{:U('Other/aboutlst')}" style="margin:0;">关于律团</a></li>
                <li><a style="margin:0;" href="{:U('Other/synopsis',array('id'=>5))}">法律声明</a></li>
                <li><a style="margin:0;">友情链接</a></li> </ul>
        </div>
        <div class="leftr left" style="width:160px;border:none;">
            <h4>律团官方微信</h4>
            <img style="height:86px; width:88px;" src="__IMG__QRcode.jpg"/>
        </div>

        <div class="leftr left" style="width:100px;border:none;">
            <h4>律团官方微博</h4>
            <a href="http://weibo.com/lvtuan2015" target="view_window"><img src="__IMG__mianfei_36.jpg"/></a>
        </div>

    </div>


</div>
<div class="bottomss clearfix">© 2014 - 2015. 律团网</div>

</body>
</html>