@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; font-weight:normal; list-style:none; font-family:'Microsoft YaHei';}
body{font:14px/1.6 Microsoft YaHei, sans-serif; margin:0px; padding:0px; color:#666; line-height:22px; border:0;}
ul,ol{list-style:none;color:#666;}
img{border:none;}
a{font:14px/1.6 Tahoma, Helvetica, arial,\5fae\8f6f\96c5\9ed1, sans-serif; text-decoration:none; line-height:22px; color:#555;}
a:hover{text-decoration:none;}
.clear{ clear:both;}
.input{ min-height:26px; min-width:80px; padding:0 10px; padding-left:3px; font-size:16px;}
.textarea{ min-width:800px; min-height:200px; font-size:14px;}
.input:hover{ color:#36F;}
.button{background:#6FB737; color:#FFF; padding:6px 20px; cursor:pointer; margin-right:10px; font-size:16px;border:0;}
.button:hover{ background:#146AC1;}
.button:last-child{ margin-right:0px;}
.a_button{ line-height:30px; margin-top:5px; margin-right:10px; text-align:center; padding:5px 14px; font-size:14px; text-align:center; border:1px solid #6FB737;}
.a_button:hover{ background:#6FB737; color:#FFF;}
.a_button:last-child{ margin-right:0px;}
.round { border-top-left-radius:4px; border-top-right-radius:4px;}

.table_top{ min-height:40px; padding-top:10px; text-align:center; font-family:Microsoft YaHei; }
.table_top input{ margin-right:10px; width:150px; color:#666;}
.table_top input:hover{ color:#666; font-family:Microsoft YaHei;}
.table_top select{ height:30px; font-size:14px; line-height:24px; margin-right:10px;}

.first_checkbox li{ float:none; border-bottom:1px dotted #CCC; overflow:auto; font-size:16px;}
.first_checkbox li:last-child{ border-bottom:0px;}
.first_checkbox li input{ position:relative; top:8px; margin-left:3px; margin-right:5px;}
.first_checkbox li span{ margin-right:25px;}
.first_checkbox li .two_checkbox{ margin-left:30px; margin-bottom:10px;}

/* header */
.header{ min-width:1200px; height:80px; width:100%; background:url(../img/top_bg.png) no-repeat #EFF7FE; border-bottom:3px solid #146AC1;}
.logo{ height:80px; float:left;}
.logo_img{ width:155px; height:56px; background:url(../img/logo.png) no-repeat; position:relative; top:10px; margin-left:20px;}

.top{ min-width:600px; float:right;}
.top_link{ min-width:400px; height:28px; float:right;}
.top_link ul{ float: right;height:30px; line-height:30px; margin-right:10px;}
.top_link ul li{ float:left;}
.top_link ul li a:hover{ text-decoration:underline; color:#F00;}
.top_link .top_link_left{ background: url(../img/botton_01.png) no-repeat left; height: 30px; min-width: 5px; margin: 0 auto;}
.top_link .top_link_bg{ background: url(../img/botton_02.png) repeat-x left;height: 30px; padding: 0px 10px 0px 10px;position: relative;}
.top_link .top_link_bg a{ color:#333;}
.top_link .top_link_right{  background: url(../img/botton_03.png) no-repeat left; height:30px; width:7px;}

.menu{ min-width:1000px; margin-left:200px; margin-top:17px; position:absolute; left:8px;}
.menu ul li{ float:left;}
.menu ul li a{ height:34px; line-height:34px; display:block; margin:0 8px;padding:0 20px;background:#EFF7FE; color:#333; border:1px solid #CCC;
 border-bottom:0;border-top-left-radius:4px; border-top-right-radius:4px; font-size:16px;}
.menu ul li a:hover{ background:#146AC1; color:#FFF;}
.menu ul li .menu_hover{ background:#146AC1; color:#FFF;}

/* left */
.left{ width:210px; float:left; min-height:300px; background:#EFF7FE;}
.split_line { min-height:300px; float: left;width: 7px; background-color: #e7e7e7;border-left: 1px solid #fff;
border-right: 1px solid #fff;position: relative; cursor:pointer;}
.botton_left_hover { background: url(../img/spanline.gif) no-repeat left;}
.left_hidden { height: 40px; width: 7px; top: 50%;margin-top: -20px;position: absolute;cursor: pointer;}

/* sub_menu */
.sub_menu_title{ height: 40px;line-height: 40px;color: #4976a4;font-weight: bold;padding-left: 25px;margin-left:40px;
background: url(../img/sub_menu_title.gif) no-repeat 0px 12px;}
.sub_menu{ width: 210px;background:#FFF; border:1px solid #D0DBE8;}
.sub_menu li a{ height:34px; line-height:34px; display:block; margin-bottom:2px; padding-left:40px; 
background:url(../img/menu_blue.gif) no-repeat 15px 9px; font-size:14px;border-bottom: 1px solid #D0DBE8; border-left:0px;}
.sub_menu li a:hover{ background:url(../img/menu_blue_hover.png) no-repeat #146AC1 15px 10px; color:#FFF;}
.sub_menu li .sub_menu_hover{ background:url(../img/menu_blue_hover.png) no-repeat #146AC1 15px 10px; color:#FFF;}

.web_info{ width:210px; line-height:28px; text-align:center;}

/* right */
.nav{ min-width:800px; min-height:45px; border-bottom:#09F; background:#E4EEFA; margin-top:3px; border-top:1px solid #E4EEFA;}
.nav_button{ min-width:200px; min-height:40px; float:right; margin-right:30px; font-weight:600;}
.nav_button .button{ margin-top:12px;}
.nav_title{ min-width:300px; float:left;}
.nav_a{ height:38px; line-height:38px; display:block; background:#FFF; color:#000; font-size:16px; text-align:center; padding:0 40px;
 margin-left:22px; margin-top:7px; float:left; border-top-left-radius: 4px; border-top-right-radius: 4px;}
.nav_img{ margin:16px 5px 0 25px; float:left;}

/* list_table */
.list_table{ border-top:1px solid #F0F0F0; margin-top:3px;}
.list_table tr td{ border-bottom:1px solid #F0F0F0;}
.list_table thead tr td{ height:45px; line-height:40px; background:#F2F2F2; border-right:1px dotted #CCC;
 border-bottom:1px solid #F0F0F0; font-weight:600; font-size:16px;}
.list_table thead tr td:last-child{ border-right:0px;}
.list_table tbody tr td{ line-height:24px; border-bottom:1px solid #EFEFEF;}
.list_table tbody tr:hover{ background:#E8EEF7;}
.list_table tbody tr td .thumb_img{ width:80px; height:60px; padding:5px 0;}
.list_table tbody tr td .thumb_img:hover{ border:1px solid #06C;}

.btn{ cursor:pointer; background:#6FB737; color:#FFF; border:0px; text-align:center; margin:0 10px;}
.btn:hover{ background:#146AC1;}
.check_div{text-align:center; margin-top:20px;}
.check_div .cache_checkbox{position:relative;top:2px;}

/* details */
.details{border-top:1px solid #EFEFEF; margin-top:15px;}
.details tbody tr:hover td{ background:#FFF;}
.details tbody tr td{ padding:10px 10px; border-bottom:1px solid #EFEFEF; border-right:1px solid #EFEFEF;}
.details tbody tr td:last-child{ border-right:0px;}
.details tbody tr td .label{ font-size:14px; font-weight:600; color:#333;}
.details tbody tr td input{ height:26px; font-size:14px; font-family:"Microsoft YaHei"; padding-left:2px;}
.details tbody tr td select{ min-height:26px;}
.details tbody tr td .checkbox{ margin-left:10px; position:relative; top:8px;}

.footer{ bottom:0; height:40px; background:#D0DBE8; width:100%; text-align:center; padding-top:5px;}


/* page */
.page {clear: both; color: #666666; font-family: Arial,Helvetica,sans-serif; font-size: 12px; padding: 30px 0; text-align: center;}
.page a, .page span {border: 1px solid #7F7F7F; color: #7F7F7F; display: inline-block; font-family:'Tahoma'; margin: 0 3px; text-decoration: none;}
.page a, .page span, .s2 {height: 24px; line-height: 24px; padding: 0 10px; text-align: center;}
.page a:hover, .page span:hover {background-color: #CA032A; border: 1px solid #CA032A; color: #FFFFFF; cursor:pointer; text-decoration: none;}

