<extend name="index/layout" />
	<block name="main">
	<div class="main">
		<div class="container">
			<div class="login register">
				<h1><span>用户注册</span><div class="r">已经是我们的会员? <a href="#">登录</a></div></h1>
				<form action="">
					<div class="row">
						<label for="username"><span>*</span>电子邮箱</label>
						<input type="text" name="username" class="text" placeholder="请正确输入电子邮箱，可用于密码找回">
					</div>
					<div class="row">
						<label for="password"><span>*</span>会员名称</label>
						<input type="password" name="password" class="text" placeholder="请输入会员名称">
					</div>

					<div class="row">
						<label for="password"><span>*</span>创建密码</label>
						<input type="password" name="password" class="text" placeholder="至少输入4个字符">
					</div>

					<div class="row">
						<label for="password"><span>*</span>确认密码</label>
						<input type="password" name="password" class="text" placeholder="至少输入4个字符">
					</div>
					<div class="row">
						<label>&nbsp;</label>
						<input type="submit" class="btn" value="注册">
					</div>
				</form>
			</div>
		</div>
	</div>
	</block>